body {
    background-color: rgb(20, 20, 20);
    color: white;
}

.content {
    padding: 10px;
    height: 100%;
}

#color {
    display: none;
    text-align: center;
    font-weight: 300;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#loading {
    text-align: center;
    margin-top: 100px;
    font-weight: 200;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 2px;
}

a {
    color: rgb(230, 225, 215);
}

/* Loading spinner

> Code taken from  
- https://github.com/ScratchAddons/ScratchAddons/blob/master/addons/scratchr2/scratchr2_comments.css#L21
- https://github.com/LLK/scratch-www/blob/develop/src/components/spinner/spinner.scss#L15

> Spinner from
- https://scratch.mit.edu/svgs/modal/spinner-blue.svg
*/

.loading {
    height: 100px;
    margin-left: 10px;
    display: inline-block;
    animation-name: spin-intro, spin;
    animation-duration: 0.1s, 1s;
    animation-timing-function: cubic-bezier(0.3, -3, 0.6, 3), cubic-bezier(0.4, 0.1, 0.4, 1);
    animation-delay: 0s, 0.25s;
    animation-iteration-count: 1, infinite;
}

@keyframes intro {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(359deg);
    }
}